<div style = "font-family: Lobster, cursive">
<h1>Edit playlist here!</h1>

<form action="/playlists/<%=@playlist.id%>" method="post">
  <input id="hidden" type="hidden"name="_method" value="patch">
  Playlist Name: <input type=text value="<%=@playlist.playlist_name%>" name="playlist_name" id="playlist_name">
  Genre: <input type=text value="<%=@playlist.genre%>" name="genre" id="genre">
  Artist: <input type=text value="<%=@playlist.artist%>" name="artist" id="artist">
  Song: <input type=text value="<%=@playlist.song%>" name="song" id="song">
  <input type=submit>
</form>
</div>