
<div style = "font-family: Lobster, cursive">

Playlist: <%= @playlist.playlist_name%>
<br>
<br>
Genre: <%= @playlist.genre%>
<br>
<br>
Artist: <%= @playlist.artist%>
<br>
<br>
Song: <%= @playlist.song%>
<br>
<br>
<form method="post" action="/playlists/<%= @playlist.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
<br>
<br>
<a href="/playlists/<%=@playlist.id%>/edit">Edit playlist</a>
<br>
<a href="/playlists">View all playlists</a>

<d/div>

